/* ========== Dialog ========== */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  display: flex;
  flex-direction: column;
  min-width: 502px;
  position: relative;
  padding: 24px 33px;
  background: #fff;
  border: 2px solid #000;
  border-radius: 30px;
}

.close_button {
  position: absolute;
  top: 24px;
  right: 27px;
  background: none;
  border: none;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.ok_button {
  width: 105px;
  padding: 11px 12px;
  background-color: #18ce60;
  border: none;
  border-radius: 21px;
  cursor: pointer;
  font-family: "Advent Pro", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}

.cancel_button {
  width: 105px;
  padding: 11px 12px;
  background-color: #ff2d2d;
  border: none;
  border-radius: 21px;
  cursor: pointer;
  font-family: "Advent Pro", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}

.title {
  font-family: "Jost", sans-serif;
  font-size: 32px;
  font-weight: normal;
  color: #000;
}

/* === dialog_content === */

.dialog_content {
  display: flex;
  flex-direction: column;
  gap: 19px;
  padding: 19px 0;
  color: #000;
  font-family: "Advent Pro", sans-serif;
  font-size: 20px;
}

.form_name {
  min-width: 266px;
  min-height: 28px;
  background-color: #ececec;
  border: 2px solid #000;
  border-radius: 3px;
}

.form_label {
  letter-spacing: 6%;
  min-width: 80px;
  text-align: right;
}

.form_container {
  display: flex;
  gap: 10px;
}

.checkbox_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.form_checkbox_label {
  letter-spacing: 6%;
  padding-right: 10px;
}

.checkbox {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_checkbox {
  width: 20px;
  height: 20px;
  position: relative;
  appearance: none;
  border: 3px solid #000;
  border-radius: 5px;
}

.form_checkbox::after {
  content: "X";
  position: absolute;
  top: -1px;
  left: 1px;
  width: 0;
  height: 0;
  font-size: 15px;
  font-weight: bold;
  transition: 500ms;
  overflow: hidden;
}

.form_checkbox:checked::after {
  width: 20px;
  height: 20px;
  transition: 500ms;
}

.form_text {
  font-size: 24px;
}

.form_weight {
  min-width: 217px;
  border: none;
  border-bottom: 2px solid #000;
}

.form_weight:focus {
  outline: 0;
  border: none;
  border-bottom: 2px solid #000;
}
